@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden !important;
}

.Manage{
    display: flex;
    flex-direction: column;
}

.sideManage{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.cartDesign{
    transition: all 1s;
    position: absolute;
    display: block;
    background-color: #6366F1;
    color:white;
    right: 0;
    padding:10px;
    top:50px;
    width: 18rem;
    border-radius: 5px;
}
.cartDesign h1{
    font-weight: bolder;
}
.hideShowCart{
    margin-right: -100%;
    position: absolute;
}
.fa-close{
    position: absolute;
    right: 0;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}